body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-1{
  flex: 1 !important;
}
.flex-4{
  flex: 4 !important;
}

@font-face {
  font-family: title;
  src: url(CrimsonPro-Light.ttf);
}

.app {
  padding: 0px 50px; 
  .amplify-tabs {
    border: none;
  }
}

.Wrapper{
  border: 2px solid var(--amplify-components-tabs-border-color);
  border-radius: 5px;
}

.header {
  font-family: title;  
  text-align: center;
  font-size: 60px;
}
.A4 {
  width: 208mm;
  height: 295mm;
  box-sizing: border-box;
  padding: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .shop-name{
    font-family: title;
  }
}
.amplify-table{
  .amplify-table__td {
    text-align: center;
    border-color: #000 !important;
    padding: 5px !important;
  }
}
